extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    if(role.permissions.includes('product_create'))
        h1(class="mb-4") Thêm Mới Sản Phẩm
        +alert-error(expressFlash,5000)
        form(
            action=`${prefixAdmin}/products/create`
            id="form-create-product"
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class="form-group")
                label(for="category_id") Danh Mục 
                select(
                    class="form-control"
                    id="category_id"
                    name="category_id"
                )
                    option(value="") Danh Mục 
                    +select-tree(records)
            div(class="form-group")
                label(for="desc") Mô tả
                textarea(
                    class="form-control textarea-mce"
                    id="desc"
                    name="description"
                    rows="5"
                )
            div(class="form-group")
                label(for="price") Giá
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    value="0"
                    min="0"
                )

            div(class="form-group")
                label(for="discount") % Giảm giá
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discountPercentage"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="stock") Số lượng
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value="0"
                    min="0"
                )
            div(class="form-group"
                upload-image
                )
                
                label(for="thumbnail") Ảnh
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"     
                    accept="image/*" 
                    upload-image-input          
                        )
                img(
                    src=""
                    upload-image-preview
                    class="image-preview"
                )
                button(
                    type="button"
                    class = 'btn btn-danger btn-sm cancel-image-button-d'
                    cancel-image-button
                    style = "margin-top: 32px;margin-left: 10px;"
                ) Hủy
            div(class="form-group")
                label(for="stock") Vị trí
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="Tự động tăng"
                    min="1"
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusActive" class="form-check-label") Hoạt động
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="inactive"
                    checked
                )
                label(for="statusActive" class="form-check-label") Dừng hoạt động
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tạo Mới


        script(src="/admin/js/product.js")
    else 
        h1 Bạn không có quyền truy cập trang này