extends ../../layouts/default.pug
block main
  if (role.permissions.includes('role_permission')) 
    h1(class="mb-4") Phân Quyền 
    if (records) 
      div(data-records=records)
      div(class="text-right")
        button(type="submit" class="btn btn-primary mb-3" button-submit) Cập nhật

      table(class="table table-hover table-sm" table-permissions)
        thead
          tr
            th Tính năng
            each item in records
              th(class="text-center") #{item.title}
        tbody
          tr(data-name="id")
            td 
            each item in records
              td(class="text-center d-none")
                input(type="text" value=`${item.id}` )
          //-danh mục sản phẩm
          tr
            td(colspan=`${records.length + 1}`)
              b Danh mục sản phẩm
          tr(data-name="category_view")
            td Xem
            each item in records
              td(class="text-center")
                input(type="checkbox")
            
          tr(data-name="category_create")
            td Thêm mới
            each item in records
              td(class="text-center")
                input(type="checkbox")

          tr(data-name="category_edit")
            td Chỉnh sửa
            each item in records
              td(class="text-center")
                input(type="checkbox")

          tr(data-name="category_delete")
            td Xóa
            each item in records
              td(class="text-center")
                input(type="checkbox")
          //-sản phẩm
          tr
            td(colspan=`${records.length + 1}`)
              b Sản phẩm
          tr(data-name="product_view")
            td Xem
            each item in records
              td(class="text-center")
                input(type="checkbox")
            
          tr(data-name="product_create")
            td Thêm mới
            each item in records
              td(class="text-center")
                input(type="checkbox")

          tr(data-name="product_edit")
            td Chỉnh sửa
            each item in records
              td(class="text-center")
                input(type="checkbox")

          tr(data-name="product_delete")
            td Xóa
            each item in records
              td(class="text-center")
                input(type="checkbox")
          //-nhóm quyền
          tr
            td(colspan=`${records.length + 1}`)
              b Nhóm quyền
          tr(data-name="role_view")
            td Xem
            each item in records
              td(class="text-center")
                input(type="checkbox")
            
          tr(data-name="role_create")
            td Thêm mới
            each item in records
              td(class="text-center")
                input(type="checkbox")

          tr(data-name="role_edit")
            td Chỉnh sửa
            each item in records
              td(class="text-center")
                input(type="checkbox")

          tr(data-name="role_delete")
            td Xóa
            each item in records
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="role_permission")
            td Phân quyền
            each item in records
              td(class="text-center")
                input(type="checkbox")
    form(
      id="form-change-permissions"
      action=`${prefixAdmin}/roles/permissions?_method=PATCH` 
      method="POST"
      class="d-none"
    )
      div(class="form-group")
        input(
          type="text"
          class="form-control"
          name="permissions"
        ) 
    script(src="/admin/js/role.js")
  else 
    h1 Bạn không có quyền truy cập trang này
