extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  h1(class="mb-4") Danh sách tài khoản
  .card.mb-3
    .card-header 
      i.fas.fa-table.mr-1
      | Danh sách tài khoản
    .card-body
      .row 
        .col-md-12
          +alert-success(expressFlash, 5000)
          +alert-error(expressFlash, 5000)
          table#dataTable(class="table table-bordered table-hover" width="100%" cellspacing="0")
            thead
              tr
                th STT
                th Avatar
                th Tên
                th Phân quyền
                th Email
                th Số điện thoại
                th Trạng thái
                th Hành động
            tbody
              each account,index in records
                tr
                  td= index + 1
                  td 
                    img(src=account.avatar, alt='Avatar', width='50px', height='50px')
                  td= account.fullname
                  td= account.role.title
                  
                  td= account.email
                  td= account.phone
                  td 
                    if (account.status=="active")
                      a(
                        href="javascript:" 
                        class="badge badge-success"
                        button-change-status 
                        data-id=account.id 
                        data-status=account.status                    
                      ) Hoạt động
                    else 
                      a(
                        href="javascript:" 
                        class="badge badge-danger"
                        button-change-status 
                        data-id=account.id 
                        data-status=account.status
                      ) Không hoạt động
                    td 
                      a(
                        class = 'btn btn-secondary btn-sm'
                        href=`${prefixAdmin}/accounts/detail/${account.id}`
                      ) Chi tiết
                      a(
                        class = 'btn btn-warning btn-sm'
                        href=`${prefixAdmin}/accounts/edit/${account.id}`
                      ) Sửa
                      button(
                        class = 'btn btn-danger btn-sm'
                        button-delete
                        data-id=account.id
                      ) Xóa