extends ../../../client/layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/product-layout.pug
block main
  script(src="/js/cart.js") 
  
  .container.my-3
    +alert-success(expressFlash, 5000)
    +alert-error(expressFlash, 5000)
    .row.justify-content-center
      .col-8
        h1.text-center Nhập mã OTP
  .container.my-3
    .row.justify-content-center
      .col-8
        .card.p-4.my-4
          form(action="/user/password/otp" method="POST")
            div(class="form-group")
              label(for="email") Email
              input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
                value = email
                readonly
                
              )
            div(class="form-group")
              label(for="otp") Mã OTP
              input(
                type="text"
                class="form-control"
                id="otp"
                name="otp"
                required
              )
            div(class="form-group")
              button(
                type="submit"
                class="btn btn-primary "
                style="width: 100%"
                width 
              )  Xác nhận
          