extends ../../../client/layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/product-layout.pug
block main
  script(src="/js/cart.js") 
  
  .container.my-3
    +alert-success(expressFlash, 5000)
    +alert-error(expressFlash, 5000)
    .row.justify-content-center
      .col-8
        h1.text-center Nhập mật khẩu mới
  .container.my-3
    .row.justify-content-center
      .col-8
        .card.p-4.my-4
          form(action="/user/password/reset" method="POST")
            div(class="form-group")
              label(for="password1") Mật khẩu mới
              input(
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                required 
              )
            div(class="form-group")
              label(for="password2") Nhập lại mật khẩu
              input(
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                required
              )
            div(class="form-group")
              button(
                type="submit"
                class="btn btn-primary "
                style="width: 100%"
                width 
              ) Xác nhận
          