extends ../../layouts/default.pug
block main 
  .row.mt-4 
    .col-12
      .card.mb-4
        .card-header Thông tin tài khoản
        .card-body
          if(user.avatar)
            img(
              src=user.avatar,
              alt=user.name,
              style='height: 100px; margin-bottom:15px;'
            )
          if(user.fullname)
            p Fullname: <b>#{user.fullname}</b>
          if(user.email)
            p Email: <b>#{user.email}</b>
          if(user.phone)
            p Phone: <b>#{user.phone}</b>
          if(role.title)
            p Role: <b>#{role.title}</b>
    .col-6  
      .card.mb-4
        .card-header Danh Mục Sản Phẩm
        .card-body
          p Số lượng : <b>#{statistics.categories.total}</b>
          p Hoạt đông : <b>#{statistics.categories.active}</b>
          p Dừng hoạt động: <b>#{statistics.categories.inactive}</b>
    .col-6  
      .card.mb-4
        .card-header Sản Phẩm
        .card-body
          p Số lượng : <b>#{statistics.products.total}</b>
          p Hoạt đông : <b>#{statistics.products.active}</b>
          p Dừng hoạt động: <b>#{statistics.products.inactive}</b>
    .col-6  
      .card.mb-4
        .card-header Tài khoản admin
        .card-body
          p Số lượng : <b>#{statistics.accounts.total}</b>
          p Hoạt động : <b>#{statistics.accounts.active}</b>
          p Dừng hoạt động: <b>#{statistics.accounts.inactive}</b>
    .col-6  
      .card.mb-4
        .card-header Tài khoản client
        .card-body
          p Số lượng : <b>#{statistics.users.total}</b>
          p Hoạt động : <b>#{statistics.users.active}</b>
          p Dừng hoạt động: <b>#{statistics.users.inactive}</b>
          
        

