.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard
            if(role.permissions.includes('category_view'))
                li 
                    a(href=`${prefixAdmin}/categories`) Categories
            if(role.permissions.includes('product_view'))
                li 
                    a(href=`${prefixAdmin}/products`) Products
            if(role.permissions.includes('role_view'))
                li 
                    a(href=`${prefixAdmin}/roles`) Roles
            if(role.permissions.includes('role_permission'))
                li 
                    a(href=`${prefixAdmin}/roles/permissions`) Permissons
            if(role.permissions.includes('account_view'))
                li 
                    a(href=`${prefixAdmin}/accounts`) Accounts
            if(role.permissions.includes('order_view'))
                li  
                    a(href=`${prefixAdmin}/products/trash`) Trash
            li 
                a(href=`${prefixAdmin}/orders`) Orders
            li 
                a(href=`${prefixAdmin}/settings/general`) Settings General
            li 
                a(href=`${prefixAdmin}/accounts`) Accounts
            