.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard
            li 
                a(href=`${prefixAdmin}/categories`) Categories
            li 
                a(href=`${prefixAdmin}/products`) Products
            li 
                a(href=`${prefixAdmin}/roles`) Roles
            li  
                a(href=`${prefixAdmin}/products/trash`) Trash